/* Start Variables */

:root {
    --main-color: #0fcfdc;
    --text-color: #0c0c0c;
    --trans-dur: 0.3s;
}

/* End Variables */

/* Start Global Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Component */
/* End Component */

/* Start Header */

header {
    background-color: #e1f3fd;
}

header .container {
    min-height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo img {
    width: 30px;
}

header .logo a span {
    text-transform: uppercase;
    display: block;
    margin-left: 5px;
    font-size: 20px;
    color: var(--main-color, #0fcfdc);
    font-weight: 700;
}

header nav .menu {
    position: relative;
}

header nav .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    cursor: pointer;
}

@media (min-width: 991px) {
    header nav .icon {
        display: none;
    }
}

header nav .icon span {
    width: 90%;
    background-color: black;
    height: 3px;
    margin-bottom: 5px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

header nav ul {
    display: flex;
    align-items: center;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

@media (max-width: 991px) {
    header nav .menu ul {
        display: block;
        position: absolute;
        background-color: #e1f3fd;
        width: 150px;
        top: 100%;
        right: -10px;
        padding: 10px 20px;
        opacity: 0;
    }

    header nav .menu:hover ul {
        opacity: 1;
    }
}

header nav ul a {
    padding: 30px;
    color: var(--main-color, #0fcfdc);
    position: relative;
    text-transform: uppercase;
    display: block;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

@media (max-width: 991px) {
    header nav .menu ul a {
        padding: 10px 20px;
        text-align: center;
    }

    header nav .menu ul a:hover {
        padding: 10px 20px 10px 25px;
    }
}

header nav ul a:hover {
    color: #2a2132;
}


header nav ul a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    -webkit-transform: translateX(-50);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: var(--main-color, #0fcfdc);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media (max-width: 991px) {
    header nav .menu ul a::before {
        left: 0;
    }
}

header nav ul a:hover::before {
    background-color: #2a2132;
}

header nav ul a.active {
    color: #2a2132;
}

header nav ul a.active::before {
    background-color: #2a2132;
}

header nav ul li i {
    color: var(--main-color, #0fcfdc);
    font-size: 20px;
    cursor: pointer;
}

@media (max-width:991px) {
    header nav ul li:last-of-type {
        display: none;
    }
}

header nav ul li i:hover {
    color: #2a2132;
}

/* End Header */