/* Start Variables */

:root {
    --main-color: #0fcfdc;
    --text-color: #0c0c0c;
    --trans-dur: 0.3s;
}

/* End Variables */

/* Start Global Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Component */

h2.main-title {
    font-size: 32px;
    color: var(--text-color, #0c0c0c);
    text-align: center;
    text-transform: uppercase;
    width: fit-content;
    margin: 30px auto;
    position: relative;
}

@media (max-width: 350px) {
    h2.main-title {
        font-size: 23px;
    }
}

h2.main-title::after {
    content: url(../photos/title-img.png);
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 35px;
}

@media (max-width: 350px) {
    h2.main-title::after {
        width: 20px;
        right: -25px;
    }
}

a.black {
    width: fit-content;
    display: block;
    margin: 30px auto;
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 15px 50px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

a.black:hover {
    background-color: #333333;
}

/* End Component */

/* Start Header */

header {
    background-color: #e1f3fd;
}

header .container {
    min-height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo img {
    width: 30px;
}

header .logo a span {
    text-transform: uppercase;
    display: block;
    margin-left: 5px;
    font-size: 20px;
    color: var(--main-color, #0fcfdc);
    font-weight: 700;
}

header nav .menu {
    position: relative;
}

header nav .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    cursor: pointer;
}

@media (min-width: 991px) {
    header nav .icon {
        display: none;
    }
}

header nav .icon span {
    width: 90%;
    background-color: black;
    height: 3px;
    margin-bottom: 5px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

header nav ul {
    display: flex;
    align-items: center;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

@media (max-width: 991px) {
    header nav .menu ul {
        display: block;
        position: absolute;
        background-color: #e1f3fd;
        width: 150px;
        top: 100%;
        right: -10px;
        padding: 10px 20px;
        opacity: 0;
        z-index: -1;
    }

    header nav .menu:hover ul {
        opacity: 1;
        z-index: 1;
    }
}

header nav ul a {
    padding: 30px;
    color: var(--main-color, #0fcfdc);
    position: relative;
    text-transform: uppercase;
    display: block;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

@media (max-width: 991px) {
    header nav .menu ul a {
        padding: 10px 20px;
        text-align: center;
    }

    header nav .menu ul a:hover {
        padding: 10px 20px 10px 25px;
    }
}

header nav ul a:hover {
    color: #2a2132;
}


header nav ul a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    -webkit-transform: translateX(-50);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: var(--main-color, #0fcfdc);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media (max-width: 991px) {
    header nav .menu ul a::before {
        left: 0;
    }
}

header nav ul a:hover::before {
    background-color: #2a2132;
}

header nav ul a.active {
    color: #2a2132;
}

header nav ul a.active::before {
    background-color: #2a2132;
}

header nav ul li i {
    color: var(--main-color, #0fcfdc);
    font-size: 20px;
    cursor: pointer;
}

@media (max-width:991px) {
    header nav ul li:last-of-type {
        display: none;
    }
}

header nav ul li i:hover {
    color: #2a2132;
}

/* End Header */

/* Start Landing */

.landing {
    background-image: url(../photos/hero-bg.png);
    background-size: cover;
    min-height: calc(136vh - 50px);
}

@media (max-width: 768px) {
    .landing {
        min-height: auto;
    }
}

.landing .content {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .landing .content {
        flex-direction: column;
    }
}

.landing .content .text {
    padding: 100px 30px 30px 90px;
    color: #3b3a3a;
}

@media (max-width: 991px) {
    .landing .content .text {
        padding: 100px 30px 30px 50px;
    }
}

@media (max-width: 768px) {
    .landing .content .text {
        padding: 100px 30px 30px 30px
    }
}

.landing .text h1 {
    font-size: 40px;
    width: 60%;
}

@media (max-width: 768px) {
    .landing .text h1 {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 350px) {
    .landing .text h1 {
        font-size: 30px;
    }
}

.landing .text p {
    line-height: 1.7;
    width: 70%;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .landing .text p {
        width: 100%;
        text-align: center;
    }
}

.landing .text .buttons {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .landing .text .buttons {
        justify-content: center;
    }
}

.landing .text .buttons a {
    display: block;
    width: fit-content;
    margin-right: 15px;
    background-color: var(--main-color, #0fcfdc);
    padding: 10px 25px;
    color: white;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    text-transform: capitalize
}

@media (max-width: 350px) {
    .landing .text .buttons a {
        text-align: center;
    }
}

.landing .text .buttons a:not(a.qu):hover {
    background-color: #0db9c4;
}

.landing .text .buttons a.qu {
    background-color: black;
    padding: 10px 15px;
}

.landing .text .buttons a.qu:hover {
    background-color: #333333;
}

.landing .content .image img {
    width: 100%;
}

/* End Landing */

/* Start About */

.about {
    padding-top: 100px;
    padding-bottom: 100px;
}

.about .image {
    width: 250px;
    margin: 50px auto;
    position: relative;
}

@media (max-width: 768px) {
    .about .image {
        width: 35%;
    }
}

.about .image img.back {
    text-align: center;
    width: 100%;
}

.about .image img.move {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    max-width: 200%;
    animation: rotate 3s infinite;
    -webkit-animation: rotate 3s infinite;
}

.about p {
    margin-top: 70px;
    color: var(--text-color, #0c0c0c);
    text-align: center;
    line-height: 1.7;
}

/* End About */

/* Start Animation */

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0) scale(1);
        -webkit-transform: translate(-50%, -50%) rotate(0) scale(1);
        -moz-transform: translate(-50%, -50%) rotate(0) scale(1);
        -ms-transform: translate(-50%, -50%) rotate(0) scale(1);
        -o-transform: translate(-50%, -50%) rotate(0) scale(1);
    }

    49% {
        transform: translate(-50%, -50%) rotate(180deg) scale(1.1);
        -webkit-transform: translate(-50%, -50%) rotate(180deg) scale(1.1);
        -moz-transform: translate(-50%, -50%) rotate(180deg) scale(1.1);
        -ms-transform: translate(-50%, -50%) rotate(180deg) scale(1.1);
        -o-transform: translate(-50%, -50%) rotate(180deg) scale(1.1);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg) scale(1);
        -webkit-transform: translate(-50%, -50%) rotate(360deg) scale(1);
        -moz-transform: translate(-50%, -50%) rotate(360deg) scale(1);
        -ms-transform: translate(-50%, -50%) rotate(360deg) scale(1);
        -o-transform: translate(-50%, -50%) rotate(360deg) scale(1);
    }
}

/* End Animation */